.playerSidebar {
  height: 100vh;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0.2;
  color: white;
  background-color: #040404;
}

.playerSidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.playerSidebar__logo {
  margin-right: auto;
  height: 70px;
  padding: 10px;
}

.playerSidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
